.card-detail{
    background-color: rgb(255, 150, 124);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 900px;
    border-radius: 30px;
}
.img{
    max-width: 450px;
    height: auto;
}
.name{
    font-size: 2.5em;
}
.price{
    font-size: 1.5em;
    color: rgb(145, 35, 7);
}
h4{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}